/* Desktop */

position: relative;
width: 1440px;
height: 6034px;

background: #FFFFFF;


/* Frame Footer */

position: absolute;
height: 382px;
left: 0.56%;
right: 0.56%;
top: 5644px;



/* Rectangle */

position: absolute;
height: 382px;
left: 0%;
right: 0%;
top: 0px;

background: #717353;
border-radius: 0px;


/* Frame */

position: absolute;
height: 221px;
left: 0%;
right: 2.25%;
top: 64.2px;



/* Frame */

position: absolute;
height: 124px;
left: 0%;
right: 75%;
top: 0px;



/* Rectangle */

position: absolute;
height: 1px;
left: 9.2%;
right: 79.31%;
top: 40.8px;

background: #FFFFEF;
border-radius: 0px;


/* Kinn Home */

position: absolute;
height: 26px;
left: 27.3%;
right: 51.15%;
top: -0.2px;

font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 15px;
line-height: 25px;
/* identical to box height, or 168% */

color: #FFFFEF;



/* Need to get in touch? Just email us at hello@kinnhome.co */

position: absolute;
height: 51px;
left: 9.2%;
right: 17.24%;
top: 58.8px;

font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 25px;
/* or 158% */

color: #FFFFEF;



/* © 2021 */

position: absolute;
height: 26px;
left: 9.2%;
right: 72.7%;
top: -0.2px;

font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 25px;
/* identical to box height, or 158% */

color: #FFFFEF;



/* Frame */

position: absolute;
height: 221px;
left: 27.3%;
right: 54.54%;
top: 0px;



/* Frame */

position: absolute;
height: 44px;
left: 0%;
right: -0.08%;
top: 50.8px;



/* Rectangle */

position: absolute;
height: 44px;
left: 0%;
right: 0%;
top: 0px;

background: #717353;
border-radius: 0px;


/* Frame */

position: absolute;
height: 44px;
left: 6.32%;
right: 0.08%;
top: 0.2px;



/* Group */

position: absolute;
width: 10px;
height: 8px;
left: 75px;
top: 17.8px;



/* Vector */

position: absolute;
width: 10px;
height: 8px;
left: 75px;
top: 17.8px;

background: #000000;


/* Shop */

position: absolute;
height: 26px;
left: 6.76%;
right: 72.97%;
top: 8.8px;

font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 25px;
/* identical to box height, or 158% */
letter-spacing: 1.575px;
text-transform: uppercase;

color: #FFFFEF;



/* Frame */

position: absolute;
height: 41px;
left: 0%;
right: -0.08%;
top: 94.8px;



/* Rectangle */

position: absolute;
height: 41px;
left: 0%;
right: 0%;
top: 0px;

background: #717353;
border-radius: 0px;


/* Style Quiz */

position: absolute;
height: 26px;
left: 12.65%;
right: 47.83%;
top: 8px;

font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 25px;
/* identical to box height, or 158% */
letter-spacing: 1.575px;
text-transform: uppercase;

color: #FFFFEF;



/* Frame */

position: absolute;
height: 44px;
left: 0%;
right: -0.08%;
top: 176.8px;



/* Rectangle */

position: absolute;
height: 44px;
left: 0%;
right: 0%;
top: 0px;

background: #717353;
border-radius: 0px;


/* Frame */

position: absolute;
height: 44px;
left: 6.32%;
right: 0.08%;
top: 0.2px;



/* Stories */

position: absolute;
height: 26px;
left: 6.76%;
right: 62.42%;
top: 8.8px;

font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 25px;
/* identical to box height, or 158% */
letter-spacing: 1.575px;
text-transform: uppercase;

color: #FFFFEF;



/* Group */

position: absolute;
width: 10px;
height: 8px;
left: 99px;
top: 18.8px;



/* Vector */

position: absolute;
width: 10px;
height: 8px;
left: 99px;
top: 18.8px;

background: #000000;


/* Frame */

position: absolute;
height: 35px;
left: 0%;
right: 0%;
top: 0px;



/* Explore */

position: absolute;
height: 19px;
left: 12.66%;
right: 57.67%;
top: -2.2px;

font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 15px;
line-height: 19px;
/* identical to box height, or 126% */
letter-spacing: 1.575px;
text-transform: uppercase;

color: #FFFFEF;



/* Rectangle */

position: absolute;
height: 1px;
left: 12.66%;
right: 71.52%;
top: 33.8px;

background: #FFFFEF;
border-radius: 0px;


/* Frame */

position: absolute;
height: 41px;
left: 0%;
right: -0.08%;
top: 135.8px;



/* Rectangle */

position: absolute;
height: 41px;
left: 0%;
right: 0%;
top: 0px;

background: #717353;
border-radius: 0px;


/* About Us */

position: absolute;
height: 26px;
left: 12.65%;
right: 51.38%;
top: 8px;

font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 25px;
/* identical to box height, or 158% */
letter-spacing: 1.575px;
text-transform: uppercase;

color: #FFFFEF;



/* Frame */

position: absolute;
height: 215px;
left: 52.3%;
right: 29.54%;
top: 0px;



/* Frame */

position: absolute;
height: 35px;
left: 0%;
right: 0%;
top: 0px;



/* Rectangle */

position: absolute;
height: 1px;
left: 12.66%;
right: 71.52%;
top: 33.8px;

background: #FFFFEF;
border-radius: 0px;


/* Help */

position: absolute;
height: 19px;
left: 12.66%;
right: 71.52%;
top: -2.2px;

font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 19px;
/* identical to box height, or 135% */
letter-spacing: 1.575px;
text-transform: uppercase;

color: #FFFFEF;



/* Frame */

position: absolute;
height: 41px;
left: 0%;
right: -0.08%;
top: 91.8px;



/* Rectangle */

position: absolute;
height: 41px;
left: 0%;
right: 0%;
top: 0px;

background: #717353;
border-radius: 0px;


/* Contact */

position: absolute;
height: 26px;
left: 12.65%;
right: 52.96%;
top: 8px;

font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 25px;
/* identical to box height, or 158% */
letter-spacing: 1.575px;
text-transform: uppercase;

color: #FFFFEF;



/* Frame */

position: absolute;
height: 41px;
left: 0%;
right: -0.08%;
top: 173.8px;



/* Rectangle */

position: absolute;
height: 41px;
left: 0%;
right: 0%;
top: 0px;

background: #717353;
border-radius: 0px;


/* Trade */

position: absolute;
height: 26px;
left: 12.65%;
right: 65.22%;
top: 8px;

font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 25px;
/* identical to box height, or 158% */
letter-spacing: 1.575px;
text-transform: uppercase;

color: #FFFFEF;



/* Frame */

position: absolute;
height: 41px;
left: 0%;
right: -0.08%;
top: 50.8px;



/* Rectangle */

position: absolute;
height: 41px;
left: 0%;
right: 0%;
top: 0px;

background: #717353;
border-radius: 0px;


/* FAQs + Shipping */

position: absolute;
height: 26px;
left: 12.65%;
right: 25.69%;
top: 8px;

font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 25px;
/* identical to box height, or 158% */
letter-spacing: 1.575px;
text-transform: uppercase;

color: #FFFFEF;



/* Frame */

position: absolute;
height: 41px;
left: 0%;
right: -0.08%;
top: 132.8px;



/* Rectangle */

position: absolute;
height: 41px;
left: 0%;
right: 0%;
top: 0px;

background: #717353;
border-radius: 0px;


/* Terms */

position: absolute;
height: 26px;
left: 12.65%;
right: 64.82%;
top: 8px;

font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 15px;
line-height: 25px;
/* identical to box height, or 168% */
letter-spacing: 1.575px;
text-transform: uppercase;

color: #FFFFEF;



/* Frame */

position: absolute;
width: 120px;
height: 22px;
right: 0px;
top: calc(50% - 22px/2 - 91.5px);



/* Group */

position: absolute;
width: 22px;
height: 22px;
left: 57px;
top: -0.2px;



/* Vector */

position: absolute;
width: 22px;
height: 22px;
left: 57px;
top: -0.2px;

background: #000000;


/* Group */

position: absolute;
width: 16px;
height: 23px;
left: 22px;
top: -1.2px;



/* Vector */

position: absolute;
width: 16px;
height: 23px;
left: 22px;
top: -1.2px;

background: #000000;


/* Group */

position: absolute;
width: 22px;
height: 22px;
left: 98px;
top: -0.2px;



/* Vector */

position: absolute;
width: 22px;
height: 22px;
left: 98px;
top: -0.2px;

background: #000000;


/* Vector */

position: absolute;
width: 11.3px;
height: 11.3px;
left: 103.35px;
top: 5.15px;

background: #000000;


/* Vector */

position: absolute;
width: 2.64px;
height: 2.64px;
left: 113.55px;
top: 3.6px;

background: #000000;


/* Frame Main */

position: absolute;
height: 5454.7px;
left: 0.56%;
right: 0.56%;
top: 125.5px;



/* Frame */

position: absolute;
height: 732px;
left: 2.25%;
right: 2.25%;
top: 0.5px;



/* Rectangle */

position: absolute;
height: 732px;
left: 0%;
right: 0%;
top: 0px;

background: #FFFFEF;
border-radius: 0px;


/* Frame */

position: absolute;
height: 700px;
left: 1.18%;
right: 1.18%;
top: 15.5px;



/* Rectangle */

position: absolute;
height: 700px;
left: 0%;
right: 0%;
top: 0.5px;

background: url(.jpg);
border-radius: 0px;


/* Frame */

position: absolute;
height: 572px;
left: 4.82%;
right: 4.82%;
top: 64px;



/* Elevate Your Everyday */

position: absolute;
width: 439px;
height: 61px;
right: 0px;
top: 430.5px;

font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 45px;
line-height: 60px;
/* identical to box height, or 134% */
text-align: right;

color: #56593D;



/* Frame */

position: absolute;
width: 154px;
height: 56px;
right: 0px;
top: calc(50% - 56px/2 + 258.5px);



/* Rectangle */

position: absolute;
height: 56px;
left: 0%;
right: 0%;
top: 0px;

background: #56593D;
border-radius: 0px;


/* SHOP NOW */

position: absolute;
width: 104px;
height: 23px;
left: calc(50% - 104px/2);
top: calc(50% - 23px/2 - 0.5px);

font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 22px;
/* identical to box height, or 140% */
text-align: center;
letter-spacing: 1.575px;
text-transform: uppercase;

color: #FFFFEF;



/* ALL COLLECTIONS */

position: absolute;
width: 179px;
height: 22px;
right: 0px;
top: 398.5px;

font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 18px;
line-height: 22px;
/* identical to box height, or 120% */
text-align: right;
letter-spacing: 1.8px;

color: #56593D;



/* Frame */

position: absolute;
height: 302px;
left: 2.25%;
right: 2.25%;
top: 820px;



/* Rectangle */

position: absolute;
width: 102.8px;
height: 2px;
left: calc(50% - 102.8px/2 - 102.1px);
top: 297.31px;

background: #56593D;


/* Frame */

position: absolute;
width: 103px;
height: 22px;
left: calc(50% - 103px/2 - 101.5px);
top: 275.5px;



/* Rectangle */

position: absolute;
height: 22px;
left: 0%;
right: 0%;
top: 0px;

border-radius: 0px;


/* Group */

position: absolute;
width: 14px;
height: 11px;
left: 82px;
top: 8px;



/* Vector */

position: absolute;
width: 12.21px;
height: 1.59px;
left: 82px;
top: 12.69px;

background: #000000;


/* Vector */

position: absolute;
width: 5.49px;
height: 6.59px;
left: 90.5px;
top: 12.41px;

background: #000000;


/* Vector */

position: absolute;
width: 5.49px;
height: 6.59px;
left: 90.51px;
top: 8px;

background: #000000;


/* Shop All */

position: absolute;
width: 78px;
height: 26px;
left: calc(50% - 78px/2 - 12.5px);
top: -1px;

font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 26px;
/* identical to box height, or 160% */
text-align: center;
letter-spacing: 1.6px;

color: #56593D;



/* Rectangle */

position: absolute;
width: 135.2px;
height: 2px;
left: calc(50% - 135.2px/2 + 85.9px);
top: 297.31px;

background: #56593D;


/* Frame */

position: absolute;
width: 135px;
height: 22px;
left: calc(50% - 135px/2 + 85.5px);
top: 275.5px;



/* Rectangle */

position: absolute;
height: 22px;
left: 0%;
right: 0%;
top: 0px;

border-radius: 0px;


/* Group */

position: absolute;
width: 14px;
height: 11px;
left: 117px;
top: 8px;



/* Vector */

position: absolute;
width: 12.21px;
height: 1.59px;
left: 117px;
top: 12.69px;

background: #000000;


/* Vector */

position: absolute;
width: 5.49px;
height: 6.59px;
left: 125.5px;
top: 12.41px;

background: #000000;


/* Vector */

position: absolute;
width: 5.49px;
height: 6.59px;
left: 125.51px;
top: 8px;

background: #000000;


/* Read Stories */

position: absolute;
width: 111px;
height: 26px;
left: calc(50% - 111px/2 - 12px);
top: -1px;

font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 26px;
/* identical to box height, or 160% */
text-align: center;
letter-spacing: 1.6px;

color: #56593D;



/* If your happy place is at the dinner table, we totally get that. That’s why we created products to help you find slow moments in a fast world. */

position: absolute;
width: 1194px;
height: 243px;
left: calc(50% - 1194px/2);
top: 6.5px;

font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 57px;
line-height: 81px;
/* or 142% */
text-align: center;

color: #56593D;



/* Frame */

position: absolute;
height: 738px;
left: 2.25%;
right: 2.25%;
top: 1210.5px;



/* Rectangle */

position: absolute;
height: 738px;
left: 0%;
right: 0%;
top: 0px;

background: #FFFFEF;
border-radius: 0px;


/* Frame */

position: absolute;
height: 609.66px;
left: 0%;
right: 0%;
top: 63.5px;



/* Frame */

position: absolute;
height: 1px;
left: 0%;
right: 2.35%;
top: 48px;



/* Frame */

position: absolute;
height: 481.66px;
left: 0%;
right: 66.67%;
top: 64px;



/* Frame */

position: absolute;
height: 410.66px;
left: 7.23%;
right: 0%;
top: 0px;



/* Rectangle */

position: absolute;
height: 411px;
left: 0%;
right: -0.08%;
top: 0.5px;

background: url(.jpg);
border-radius: 0px;


/* Rectangle */

position: absolute;
height: 411px;
left: 0%;
right: -0.08%;
top: 0.5px;

background: url(.jpg), #FFFFEF;
border-radius: 0px;


/* $98.00 */

position: absolute;
width: 65px;
height: 26px;
left: calc(50% - 65px/2 + 16.17px);
top: 455.5px;

font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 26px;
/* identical to box height, or 162% */
text-align: center;
letter-spacing: 1.62px;

color: #717353;



/* Maple Board - Short */

position: absolute;
width: 144px;
height: 22px;
left: calc(50% - 144px/2 + 15.67px);
top: 426.5px;

font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 22px;
/* identical to box height, or 135% */
text-align: center;

color: #56593D;



/* Frame */

position: absolute;
height: 481.66px;
left: 33.33%;
right: 33.33%;
top: 64px;



/* Frame */

position: absolute;
height: 410.66px;
left: 7.23%;
right: 0%;
top: 0px;



/* Rectangle */

position: absolute;
height: 411px;
left: 0.08%;
right: -0.17%;
top: 0.5px;

background: url(.jpg);
border-radius: 0px;


/* Rectangle */

position: absolute;
height: 411px;
left: 0.08%;
right: -0.17%;
top: 0.5px;

background: url(.jpg), #FFFFEF;
border-radius: 0px;


/* $125.00 */

position: absolute;
width: 76px;
height: 26px;
left: calc(50% - 76px/2 + 16.02px);
top: 455.5px;

font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 26px;
/* identical to box height, or 162% */
text-align: center;
letter-spacing: 1.62px;

color: #717353;



/* Maple Board - Long */

position: absolute;
width: 143px;
height: 22px;
left: calc(50% - 143px/2 + 15.52px);
top: 426.5px;

font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 22px;
/* identical to box height, or 135% */
text-align: center;

color: #56593D;



/* Frame */

position: absolute;
height: 481.66px;
left: 66.67%;
right: 0%;
top: 64px;



/* Frame */

position: absolute;
height: 410.66px;
left: 7.23%;
right: 0%;
top: 0px;



/* Rectangle */

position: absolute;
height: 411px;
left: -0.08%;
right: -0.01%;
top: 0.5px;

background: url(.jpg);
border-radius: 0px;


/* Rectangle */

position: absolute;
height: 411px;
left: -0.08%;
right: -0.01%;
top: 0.5px;

background: url(.jpg), #FFFFEF;
border-radius: 0px;


/* $158.00 */

position: absolute;
width: 76px;
height: 26px;
left: calc(50% - 76px/2 + 15.36px);
top: 455.5px;

font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 26px;
/* identical to box height, or 162% */
text-align: center;
letter-spacing: 1.62px;

color: #717353;



/* Maple Board - Wide */

position: absolute;
width: 143px;
height: 22px;
left: calc(50% - 143px/2 + 15.86px);
top: 426.5px;

font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 22px;
/* identical to box height, or 135% */
text-align: center;

color: #56593D;



/* Maple Board Collection */

position: absolute;
width: 254px;
height: 33px;
left: calc(50% - 254px/2);
top: -0.5px;

font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 24px;
line-height: 32px;
/* identical to box height, or 135% */
text-align: center;

color: #56593D;



/* Frame */

position: absolute;
height: 732px;
left: 2.25%;
right: 2.25%;
top: 1971.5px;



/* Rectangle */

position: absolute;
height: 732px;
left: 0%;
right: 0%;
top: 0px;

background: #FFFFEF;
border-radius: 0px;


/* Frame */

position: absolute;
height: 700px;
left: 1.18%;
right: 1.18%;
top: 16.16px;



/* Rectangle */

position: absolute;
height: 700px;
left: 0%;
right: 0%;
top: -0.16px;

background: url(.jpg);
border-radius: 0px;


/* Frame */

position: absolute;
height: 572px;
left: 4.82%;
right: 4.82%;
top: 64px;



/* We believe minimalism means more. More space, more time, more meaningful moments. */

position: absolute;
width: 1093px;
height: 121px;
left: calc(50% - 1093px/2 + 0.5px);
top: 30.84px;

font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 50px;
line-height: 60px;
/* or 121% */
text-align: center;

color: #56593D;



/* THE ESSENTIALS */

position: absolute;
width: 159px;
height: 22px;
left: calc(50% - 159px/2 - 0.5px);
top: -2.16px;

font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 17px;
line-height: 22px;
/* identical to box height, or 127% */
text-align: center;
letter-spacing: 1.8px;

color: #56593D;



/* Frame */

position: absolute;
height: 746px;
left: 2.25%;
right: 2.25%;
top: 2727.5px;



/* Rectangle */

position: absolute;
height: 746px;
left: 0%;
right: 0%;
top: 0px;

background: #FFFFEF;
border-radius: 0px;


/* Frame */

position: absolute;
height: 618.25px;
left: 0%;
right: 2.35%;
top: 64.16px;



/* Rectangle */

position: absolute;
height: 618px;
left: 2.41%;
right: 41.64%;
top: -0.16px;

background: url(image.png);
border-radius: 0px;


/* Frame */

position: absolute;
height: 391px;
left: 60.74%;
right: 0%;
top: 0px;



/* We believe in thoughtful, intentional living. So we promise not to clutter your cabinets with one-off pieces you’ll rarely use. Our collection only includes items you’ll reach for every day. Because mindful living should be simple, not stressful. */

position: absolute;
width: 347px;
height: 227px;
left: calc(50% - 347px/2 + 0.19px);
top: 167.84px;

font-family: 'Jost';
font-style: normal;
font-weight: 400;
font-size: 20px;
line-height: 32px;
/* or 162% */
text-align: center;

color: #56593D;



/* Rectangle */

position: absolute;
height: 1px;
left: 46.1%;
right: 46.22%;
top: 133.84px;

background: #717353;
border-radius: 0px;


/* Our Design Story */

position: absolute;
width: 219px;
height: 39px;
left: calc(50% - 219px/2 + 0.19px);
top: 62.84px;

font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 29px;
line-height: 39px;
/* identical to box height, or 134% */
text-align: center;

color: #56593D;



/* Frame */

position: absolute;
height: 1014px;
left: 2.25%;
right: 2.25%;
top: 3497.5px;



/* Rectangle */

position: absolute;
height: 1014px;
left: 0%;
right: 0%;
top: 0px;

background: #FFFFEF;
border-radius: 0px;


/* Frame */

position: absolute;
height: 885.61px;
left: 0%;
right: 2.35%;
top: 64.41px;



/* Rectangle */

position: absolute;
height: 885px;
left: 44.05%;
right: 0%;
top: -0.41px;

background: url(image.png);
border-radius: 0px;


/* Frame */

position: absolute;
height: 391px;
left: 2.41%;
right: 58.33%;
top: 0px;



/* Our modern lives keep us in constant motion. But what keeps us moving isn’t always what moves us. Our time at the table is our pause button. Meals can become moments and moments can become memories. So grab a plate, pull up a seat, and stay a while */

position: absolute;
width: 344px;
height: 227px;
left: calc(50% - 344px/2 + 0.31px);
top: 167.59px;

font-family: 'Jost';
font-style: normal;
font-weight: 400;
font-size: 20px;
line-height: 32px;
/* or 162% */
text-align: center;

color: #56593D;



/* Rectangle */

position: absolute;
height: 1px;
left: 46.22%;
right: 46.1%;
top: 133.59px;

background: #717353;
border-radius: 0px;


/* Your Table Your Time */

position: absolute;
width: 277px;
height: 39px;
left: calc(50% - 277px/2 - 0.19px);
top: 62.59px;

font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 29px;
line-height: 39px;
/* identical to box height, or 134% */
text-align: center;

color: #56593D;



/* Frame */

position: absolute;
height: 279px;
left: 3.37%;
right: 3.37%;
top: 4551.5px;



/* Rectangle */

position: absolute;
height: 279px;
left: 0%;
right: 0%;
top: 0px;

background: #FFFFEF;
border-radius: 0px;


/* Frame */

position: absolute;
height: 215.19px;
left: 2.41%;
right: 2.41%;
top: 32.02px;



/* Frame */

position: absolute;
height: 37px;
left: 30.22%;
right: 30.22%;
top: 146.19px;



/* Rectangle */

position: absolute;
width: 339.59px;
height: 1px;
left: calc(50% - 339.59px/2 - 80.2px);
top: calc(50% - 1px/2 + 19px);

background: #56593D;


/* Frame */

position: absolute;
width: 144px;
height: 22px;
left: calc(50% - 144px/2 + 178px);
top: calc(50% - 22px/2 + 9.3px);



/* Rectangle */

position: absolute;
height: 22px;
left: 0%;
right: 0%;
top: 0px;

background: #56593D;
border-radius: 0px;


/* Subscribe */

position: absolute;
width: 94px;
height: 23px;
left: calc(50% - 94px/2);
top: 0px;

font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 15px;
line-height: 23px;
/* identical to box height, or 151% */
text-align: center;
letter-spacing: 1.6px;
text-transform: uppercase;

color: #FFFFEF;



/* Rectangle */

position: absolute;
width: 340px;
height: 37px;
left: calc(50% - 340px/2 - 80px);
top: calc(50% - 37px/2 - 0.2px);

border-radius: 0px;


/* Receive special offers and first look at new products. */

position: absolute;
width: 410px;
height: 29px;
left: calc(50% - 410px/2);
top: 85.98px;

font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 17px;
line-height: 29px;
/* identical to box height, or 169% */
text-align: center;

color: #56593D;



/* Sign up to our newsletter */

position: absolute;
width: 319px;
height: 39px;
left: calc(50% - 319px/2 + 0.5px);
top: 30.98px;

font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 28px;
line-height: 39px;
/* identical to box height, or 139% */
text-align: center;

color: #56593D;



/* Frame */

position: absolute;
height: 520px;
left: 2.25%;
right: 2.25%;
top: 4870.5px;



/* Rectangle */

position: absolute;
height: 520px;
left: 0%;
right: 0%;
top: 0px;

background: #FFFFEF;
border-radius: 0px;


/* Frame */

position: absolute;
height: 392px;
left: 0%;
right: 0%;
top: 64.2px;



/* Frame */

position: absolute;
height: 328px;
left: 1.76%;
right: 1.76%;
top: 64px;



/* Rectangle */

position: absolute;
height: 320px;
left: 0.61%;
right: 75%;
top: 7.8px;

background: url(.jpg);
border-radius: 0px;


/* Rectangle */

position: absolute;
height: 320px;
left: 50.61%;
right: 25%;
top: 7.8px;

background: url(.jpg);
border-radius: 0px;


/* Rectangle */

position: absolute;
height: 320px;
left: 25.61%;
right: 50%;
top: 7.8px;

background: url(.jpg);
border-radius: 0px;


/* Rectangle */

position: absolute;
height: 320px;
left: 75.61%;
right: 0%;
top: 7.8px;

background: url(.jpg);
border-radius: 0px;


/* #KinnMoments */

position: absolute;
width: 173px;
height: 33px;
left: calc(50% - 173px/2 + 0.5px);
top: -0.2px;

font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 25px;
line-height: 32px;
/* identical to box height, or 130% */
text-align: center;

color: #56593D;



/* Frame Header */

position: absolute;
height: 93.5px;
left: 0.56%;
right: 0.56%;
top: 8px;



/* Frame */

position: absolute;
height: 55px;
left: -351.69%;
right: 420.44%;
top: -5008px;



/* Rectangle */

position: absolute;
height: 55px;
left: 0%;
right: 0%;
top: 0px;

border-radius: 0px;


/* Frame */

position: absolute;
height: 55.08px;
left: -3.6%;
right: 0.01%;
top: 0px;



/* Frame */

position: absolute;
height: 55.08px;
left: 0%;
right: 78.79%;
top: 0px;



/* Group */

position: absolute;
width: 18px;
height: 18px;
left: 64px;
top: 20px;



/* Vector */

position: absolute;
width: 18px;
height: 18px;
left: 64px;
top: 20px;

background: #000000;


/* Shop */

position: absolute;
height: 22px;
left: 16.37%;
right: 40.67%;
top: calc(50% - 22px/2 + 0.46px);

font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 22px;
/* identical to box height, or 154% */
letter-spacing: 1.35px;
text-transform: uppercase;

color: #56593D;



/* About Us */

position: absolute;
height: 22px;
left: 52.5%;
right: 30.15%;
top: calc(50% - 22px/2 + 0.46px);

font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 22px;
/* identical to box height, or 154% */
letter-spacing: 1.35px;
text-transform: uppercase;

color: #56593D;



/* Frame */

position: absolute;
height: 55.08px;
left: 74.44%;
right: 0%;
top: 0px;



/* Group */

position: absolute;
width: 18px;
height: 18px;
left: 83.84px;
top: 20px;



/* Vector */

position: absolute;
width: 18px;
height: 18px;
left: 83.84px;
top: 20px;

background: #000000;


/* Stories */

position: absolute;
height: 22px;
left: 13.45%;
right: 33.93%;
top: calc(50% - 22px/2 + 0.46px);

font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 13px;
line-height: 22px;
/* identical to box height, or 166% */
letter-spacing: 1.35px;
text-transform: uppercase;

color: #56593D;



/* Style Quiz */

position: absolute;
height: 22px;
left: 25.82%;
right: 55.53%;
top: calc(50% - 22px/2 + 0.46px);

font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 13px;
line-height: 22px;
/* identical to box height, or 166% */
letter-spacing: 1.35px;
text-transform: uppercase;

color: #56593D;



/* Frame */

position: absolute;
height: 93.5px;
left: 0%;
right: 0%;
top: 0px;



/* Rectangle */

position: absolute;
height: 16px;
left: 0%;
right: 0%;
top: 0px;

background: #FFFFEF;
border-radius: 0px;


/* Frame */

position: absolute;
height: 77.5px;
left: 0%;
right: 0%;
top: 16px;



/* Frame */

position: absolute;
height: 98px;
left: -0.56%;
right: 60.91%;
top: -24px;



/* Frame */

position: absolute;
height: 58.52px;
left: 9.92%;
right: 71.5%;
top: 39.48px;



/* Group */

position: absolute;
width: 10px;
height: 8px;
left: 71px;
top: 21.52px;



/* Vector */

position: absolute;
width: 10px;
height: 8px;
left: 71px;
top: 21.52px;

background: #000000;


/* Shop */

position: absolute;
height: 26px;
left: 15.25%;
right: 38.98%;
top: calc(50% - 26px/2 + 0.26px);

font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 25px;
/* identical to box height, or 158% */
letter-spacing: 1.575px;
text-transform: uppercase;

color: #56593D;



/* Frame */

position: absolute;
height: 58.52px;
left: 77.04%;
right: 0%;
top: 39.48px;



/* Group */

position: absolute;
width: 10px;
height: 8px;
left: 96.02px;
top: 21.52px;



/* Vector */

position: absolute;
width: 10px;
height: 8px;
left: 96.02px;
top: 21.52px;

background: #000000;


/* Stories */

position: absolute;
height: 26px;
left: 12.36%;
right: 31.32%;
top: calc(50% - 26px/2 + 0.26px);

font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 25px;
/* identical to box height, or 158% */
letter-spacing: 1.575px;
text-transform: uppercase;

color: #56593D;



/* Style Quiz */

position: absolute;
height: 26px;
left: 32.41%;
right: 49.88%;
top: calc(50% - 26px/2 + 20px);

font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 25px;
/* identical to box height, or 158% */
letter-spacing: 1.575px;
text-transform: uppercase;

color: #56593D;



/* About Us */

position: absolute;
height: 26px;
left: 57.03%;
right: 26.85%;
top: calc(50% - 26px/2 + 20px);

font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 25px;
/* identical to box height, or 158% */
letter-spacing: 1.575px;
text-transform: uppercase;

color: #56593D;



/* Rectangle */

position: absolute;
height: 26px;
left: 46.84%;
right: 46.84%;
top: 32px;

background: url(.png);
border-radius: 0px;


/* Frame */

position: absolute;
width: 1365px;
height: 88.5px;
right: 67px;
top: calc(50% - 88.5px/2 - 16.5px);



/* Group */

position: absolute;
width: 32px;
height: 32px;
left: 1224px;
top: 52px;



/* Vector */

position: absolute;
width: 16px;
height: 16.64px;
left: 1232px;
top: 52px;

background: #000000;


/* Vector */

position: absolute;
width: 32px;
height: 12.8px;
left: 1224px;
top: 71.2px;

background: #000000;


/* Group */

position: absolute;
width: 32px;
height: 32px;
left: 1276px;
top: 52px;



/* Vector */

position: absolute;
width: 13.12px;
height: 13.41px;
left: 1294.88px;
top: 70.59px;

background: #000000;


/* Vector */

position: absolute;
width: 25.36px;
height: 23.76px;
left: 1276px;
top: 52px;

background: #000000;


/* Frame */

position: absolute;
width: 1365px;
height: 88.5px;
right: 0px;
top: 0px;



/* Group */

position: absolute;
width: 32px;
height: 32px;
left: 1329px;
top: 52px;



/* Vector */

position: absolute;
width: 32px;
height: 24.37px;
left: 1329px;
top: 59.63px;

background: #000000;


/* Vector */

position: absolute;
width: 15.15px;
height: 7.79px;
left: 1337.91px;
top: 52px;

background: #000000;


/* Frame */

position: absolute;
height: 20px;
left: 98.53%;
right: 0%;
top: 69px;



/* Rectangle */

position: absolute;
height: 20px;
left: 0%;
right: 0%;
top: 0px;

background: #FFFFEF;
border-radius: 20px;


/* 0 */

position: absolute;
width: 10px;
height: 26px;
left: calc(50% - 10px/2);
top: -1px;

font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 25px;
/* identical to box height, or 158% */
text-align: center;

color: #56593D;

